<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About</h2>
      <p>
        For those that are wondering who I am, I am an entrepreneur and a
        philanthrophist. My background is in Web Designing, Development and IT
        security. I help businesses by creating simple, secure and authentic
        websites.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
